html{
    box-sizing: border-box;
}

body{
    background-color: #062863;
    margin: auto;
}

.container-one{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 200px;
    align-items: center;
}



.img-header{
width: 300px;
height: 50px;
/* border: 1px solid red; */
background-image: url("img/task2.png");
background-size: 100%;
background-repeat: no-repeat;
padding: 5px;
margin: 50px;

}


.grouping{
    width: 500px;
    height: fit-content;
background-color: white;
border-radius: 5px;
padding: 30px;
}

h1{ 
    color: #083e9e;
background-color: white;
font-family: sans-serif;
font-size: 30px;
line-height: 36px;
vertical-align: baseline;
word-spacing: 0px;
margin: 0px;
padding: 0px;
font-weight: 700;
font-style: normal;
font-variant: normal;
text-decoration: none solid rgb(8, 62, 158);
text-align: center;
text-indent: 0;
}

p{
    color: #4a5568;
    background-color:
white;
font-family: sans-serif;
font-size:
12px;
line-height:
24px;
vertical-align:
baseline;
letter-spacing:
normal;
font-weight:
700;
text-align: center;
margin: 0;
word-spacing:
0px;
}


.form-cover{

padding-top:15px;
}

.form-cover.butt{
    align-items: center;
}






 .input-1{
    display: block;
    color:
#4a5568;
color:
rgb(74, 85, 104);
font-family: sans-serif;
font-size:
12px;
line-height:
24px;
letter-spacing:
normal;
font-weight:
700;
text-transform:
none;
text-align:
start;
 }



.input{
    display:block;
    width: 450px;
    height: 40px;
    padding: 2px;
    background-color: #EDF2F7;
    border: 0;
    margin-bottom: 20px;
   
}

.butt{
    color:
#ffffff;
background-color:
#062b6f;
font-family: sans-serif;
font-size:14px;
line-height:
21px;
vertical-align:
baseline;
letter-spacing:
normal;
padding:
20px 40px 16px;
font-weight:
700;
font-style:
normal;
font-variant:
normal;
text-transform:
uppercase;
text-decoration:
none solid rgb(255, 255, 255);
text-align:
center;
text-indent:
0px;
border-radius: 10px;

}